.game-gallery {
  position: relative;
}

.game-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  transform-origin: center center;
  user-select: none;
}

.game-icon:hover .game-info {
  display: block;
}

.game-info {
  display: none;
  position: absolute;
  top: 110px;
  width: 150px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
